.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
body {
  background-color: hsl(182, 69%, 92%);
}
img {
  width: 800px;
  position: absolute;
  top: 50%;
  transform: translate(0%, -50%);
}

@media screen and (max-width: 768px) {
  img {
    width: 100%;
  }
}
