.home_container {
    
    margin-top: 1rem;
}


.home_slideshow {
    position: relative;
    max-width: 50%;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Animation fade */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from { opacity: 0.8; }
    to { opacity: 1; }
}


.introduction {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.modal_connection {
    display: none;
}

.modal_connection.active {
    display:block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}


.overlay_modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal_content_connection {
    position: absolute;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_content_connection h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.modal_content_connection form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal_content_connection form label{
    margin-bottom: 0.5rem;
}

.modal_content_connection form input{
    margin-bottom: 0.5rem;
}

.modal_connection_close {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: white;
}

@media (max-width: 768px) {
    header {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        justify-content: space-between;
    }

    header .right {
        display: none;
    }

    header .left {
        width: 100%;
    }

    .left img {
        display:flex;
    }
    h1 {
        font-size: 1.5rem;
    }


}