.container_login_box {
  display: flex;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem; 
  padding-top: 4rem;
  max-width: 70%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.login_box {
  display: flex;
  width: 100%;
  flex: row;

}

.login_picture {    
  flex: 1;
}

.login_picture img {
  max-width: 100%;
  max-height: 100%;
}

.login_form {
  flex: 1;
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;  
  background-color: rgba(255, 255, 255, 0.6);

}

.login_form h2 {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 2rem;
};

.login_form label {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5;
  
}

.login_form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 1rem; 
  border: 1px solid #ccc;
  border-radius: 0.25rem;
}

.login_form button {
  margin-top: 20px;
  padding: 15px;
  background-color: #7EB3C8;
  border: 2px solid black;
  border-radius: 1.5rem;
  color: white;
  cursor: pointer;
  color: black;
  font-weight: bold;
  width: 100%;
}

.login_form button:hover {
  transition-duration: 1s;
  background-color: #7E8EC8;
}

.login_form a {
  display: block;
  margin-bottom: 1rem;
  text-align: center; 
}

@media (max-width: 768px) {
  .website_header {
    flex-direction: column;
    padding: 1rem;
  }

  .website_header .left, .website_header .right {
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 2rem;
  }

  .website_header .left img {
    max-width: 10%;
  }

  .website_header h1 {
    font-size: 2rem;
  }

  .container_login_box {
    margin-top: 2rem;
    flex-direction: column;
    padding: 2rem;
    justify-content: flex-start;      

  }

  .login_picture {
    display: none;
  }

  .login_form {
    max-width: 100%;
    margin: 0;
  }
}