.right:hover {
  cursor: pointer;
}

.trip-page {
  margin: 0.5rem;
}

.trip-page_header {
  justify-content: space-evenly;
  padding: 1rem 10rem;
  display: flex;
  border: #8b9ca6 solid 0.2rem;
  border-radius: 1rem;
  margin: 2rem;
  justify-content: center;
  align-items: center;
}

.trip-page_menu {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

#menu_choice {
  border-radius: 1rem;
  border: #8b9ca6 solid 0.15rem;
  text-align: center;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  font-family: "Sedan SC", serif;
  margin-right: 2rem;
}

.main_title {
  font-size: 2rem;
  text-align: center;
  border: #8b9ca6 solid 0.15rem;
  padding: 0.4rem 8rem;
  border-radius: 1rem;
}

.trip-page_classement {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

#classement_choice {
  border-radius: 1rem;
  border: #8b9ca6 solid 0.15rem;
  text-align: center;
  font-size: 1rem;
  padding: 0rem 1rem;
  background-color: transparent;
  cursor: pointer;
  font-family: "Sedan SC", serif;
  margin-left: 2rem;
}

option {
  box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2);
  background-color: #ecebea;
  text-align: center;
}

.roadbook_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 1rem 1rem;
  align-items: stretch;
}

.trip_add {
  margin: 1rem 0rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: auto;
  flex-direction: column;
}

#add-new-trip {
  font-size: 8rem;
  background-color: transparent;
  border: none;
}

#add-new-trip:hover {
  cursor: pointer;
}

.trip-card_content {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 1rem;
  margin: 1rem 0rem;
  border: #8b9ca6 solid 0.2rem;
  border-radius: 1rem;
  background-color: rgba(0255, 255, 255, 0.5);
}

.trip-card_header {
  display: flex;
  flex-direction: row;
  padding: 1rem 0.5rem;
  justify-content: space-between;
}

h3 {
  font-size: 1.2rem;
}

.update-trip_button {
  background-color: transparent;
  border: none;
}

.update-trip_button:hover {
  cursor: pointer;
}

.fa-pen {
  font-size: 1.2rem;
}
.delete-trip_button {
  background-color: transparent;
  border: none;
}

.delete-trip_button:hover {
  cursor: pointer;
}

.fa-trash {
  font-size: 1.2rem;
}

.trip_photo {
  height: 80%;
  width: 100%;
}

.trip-visits {
  display: flex;
  padding: 1rem 0.5rem;
  justify-content: center;
}

.trip-visits-details {
  font-size: 1rem;
  text-align: center;
  border: #8b9ca6 solid 0.1rem;
  border-radius: 1rem;
  padding: 1rem 0.5rem;
  text-decoration: none;
  color: black;
}

.modal_new-trip {
  display: none;
}

#new-trip_note {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.modal_new-trip.active {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.overlay_modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}

.modal_content_new-trip {
  position: absolute;
  max-width: 100vw;
  min-width: 100vh;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_content_new-trip h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.modal_content_new-trip form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal_content_new-trip form label {
  margin-bottom: 0.5rem;
}

.modal_content_new-trip form input {
  margin-bottom: 0.5rem;
}

.modal_new-trip_close {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #ff365e;
  color: white;
}

.modal_update-trip {
  display: none;
}

#update-trip_note {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.modal_update-trip.active {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.overlay_modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}

.modal_content_update-trip {
  position: absolute;
  max-width: 100vw;
  min-width: 100vh;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_content_update-trip h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.modal_content_update-trip form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal_content_update-trip form label {
  margin-bottom: 0.5rem;
}

.modal_content_update-trip form input {
  margin-bottom: 0.5rem;
}

.modal_update-trip_close {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #ff365e;
  color: white;
}

@media screen and (width <= 768px) {
  .trip-page {
    width: 100vw;
    height: 100vw;
  }
  .trip-page_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
    border: none;
    size: auto;
  }

  .trip-page_header :nth-child(1) {
    order: 2;
  }
  .trip-page_header :nth-child(3) {
    order: 3;
  }

  .trip-page_menu {
    padding-top: 0.5rem;
  }

  .trip-page_classement {
    padding-top: 0.5rem;
  }

  #menu_choice {
    margin-right: 0rem;
  }

  .main_title {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding: 0.4rem 8rem;
  }

  #classement_choice {
    margin-left: 0rem;
    padding: 0rem 2rem;
  }

  .trip-card_content {
    width: 40%;
  }

  .modal_new-trip {
    display: none;
  }

  .modal_content_new-trip {
    position: absolute;
    max-width: fit-content;
    min-width: fit-content;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .overlay_modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
  }

  .modal_update-trip {
    display: none;
  }

  .modal_content_update-trip {
    position: absolute;
    max-width: fit-content;
    min-width: fit-content;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

@media screen and (max-width: 500px) {
  .trip-page {
    width: 100vw;
    height: 100vw;
  }
  .trip-page_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border: none;
    size: auto;
  }

  .trip-page_header :nth-child(1) {
    order: 2;
  }
  .trip-page_header :nth-child(3) {
    order: 3;
  }

  .trip-page_menu {
    padding-top: 0.5rem;
  }

  #menu_choice {
    margin-right: 0rem;
  }

  .trip-page_title {
    padding: 0rem;
    align-items: center;
    justify-content: center;
  }
  .main_title {
    font-size: 1.5rem;
    text-align: center;
    justify-content: center;
    padding: 0rem 8rem;
  }

  .trip-page_classement {
    padding-top: 0.5rem;
  }

  #classement_choice {
    margin-left: 0rem;
    padding: 0rem 2rem;
  }

  .trip-card_content {
    width: 30%;
  }

  .modal_new-trip {
    display: none;
  }

  .modal_content_new-trip {
    position: absolute;
    max-width: fit-content;
    min-width: fit-content;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .overlay_modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
  }

  .modal_update-trip {
    display: none;
  }

  .modal_content_update-trip {
    position: absolute;
    max-width: fit-content;
    min-width: fit-content;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
