.container_signin_box {
    display: flex;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem; 
    padding-top: 4rem;
    max-width: 70%;
    margin: 0 auto;
}

.signin_box {
    display: flex;
    width: 100%;
    flex: row;

}

.signin_picture{    
    flex: 1;
}

.signin_picture img {
    max-width: 100%;
    max-height: 100%;
}

.signin_form {
    flex: 1;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;      
    background-color: rgba(255, 255, 255, 0.6);
    
}

.signin_form h2 {
    text-align: center;
}

.signin_form form {
    display: flex;
    flex-direction: column;
}

.signin_form label, 
.signin_form input {
    margin-bottom: 15px;
}

.signin_form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #7EB3C8;
    border: 2px solid black;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    color: black;
    font-family: "Sedan SC", serif;

}

.signin_form input[type="submit"]:hover {
    transition-duration: 1s;
    background-color: #7E8EC8;
}

@media (max-width: 768px) {

    .website_header {

        width: 100%;
        position: fixed;
        display: flex;
        flex-wrap: wrap;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .left {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h1 {
        width: 100%;
        text-align: center;
    }

    .signin_picture {
        display: none; 
    }

    .container_signin_box {
        display: flex;
        max-width: 90%; 
        padding: 1rem;
        padding-left: 4rem;
        padding-right: 4rem; 
        padding-top: 5rem;
        margin: 0 auto;
    }

    .signin_form {
        
        max-width: 100%;
    }

    header {
        padding-left: 1rem;
        padding-right: 1rem;
        display: flex;
        flex-wrap: wrap;
        
        
    }

    header .right {
        width: 100%;
        display: flex;
    }

    header .left {
        width: 100%;
    }

    
    .left img{
        max-width: 25%;
        display:flex;
    }
    h1 {
        font-size: 1rem;
        margin-bottom: 1rem;
        white-space: nowrap;
    }

    .right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #connection {

        
        border: 2px solid black;
        padding: 0.5rem;
        border-radius: 1.5rem;
        background-color: #7EB3C8;
        font-size: 1rem;
        white-space: nowrap;
      }
      
      #registration {
        border: 2px solid black;
        padding: 0.5rem;
        border-radius: 1.5rem;
        background-color: #7EB3C8;
        
      
      }

}

@media (max-width: 500px) {





}