.container_signin_box {
    display: flex;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem; 
    padding-top: 4rem;
    max-width: 70%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signin_box {
    display: flex;
    width: 100%;
    flex: row;

}

.signin_picture{    
    flex: 1;
}

.signin_picture img {
    max-width: 100%;
    max-height: 100%;
}

.signin_form {
    flex: 1;
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;      
    background-color: rgba(255, 255, 255, 0.6);
    
}

.signin_form p {
    font-size: 0.75rem;
    font-style: normal;
    text-transform: lowercase;
    font-family: 'Courier New', Courier, monospace;
    opacity: 0.5;
    padding-bottom: 0.2rem;
}

.signin_form h2 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
}

.signin_form form {
    display: flex;
    flex-direction: column;
}

.signin_form label, 
.signin_form input {
    margin-bottom: 10px;
}

.signin_form input[type="submit"] {
    margin-top: 20px;
    padding: 10px;
    background-color: #7EB3C8;
    border: 2px solid black;
    border-radius: 1.5rem;
    color: white;
    cursor: pointer;
    color: black;
    font-weight: bold;
    

}

.signin_form input[type="submit"]:hover {
    transition-duration: 1s;
    background-color: #7E8EC8;
}

@media (max-width: 768px) {
    .website_header {
        flex-direction: column;
        padding: 1rem;
    }

    .website_header .left, .website_header .right {
        width: 100%;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;
    }

    .website_header .left img {
        max-width: 10%;
    }

    .website_header h1 {
        font-size: 2rem;
    }

    .container_signin_box {
        margin-top: 2rem;
        flex-direction: column;
        padding: 2rem;
        justify-content: flex-start;
    }

    .signin_picture {
        display: none;
    }

    .signin_form {
        max-width: 100%;
        margin: 0;
    }
}