@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    background: url(../pictures/passport\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: #7E8EC8 solid 3px;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    
}

h1 {
    font-size: 2.5rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;

}
.left {
    display: flex;
    justify-content: center;
    align-items: center;

}

.left img {
   max-width: 100%;
   max-height: 100%;
   padding-right: 2rem;
}


.right span{
    margin-left: 1rem;
    margin-right: 1rem;
  
}

