@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root {
  font-family: "Sedan SC", serif;
  font-weight: 400;
  font-style: normal;
  background-image: url("../pictures/passport\ 1.jpg");
  background-repeat: no-repeat;
  background-size:cover;
  min-height: 100%;
}

.website_header {

  
  display: flex;
  justify-content: space-between;
  height: 50px;
  padding: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
    
}

#connection {
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: #7EB3C8;
}

#registration {
  border: 2px solid black;
  padding: 0.5rem;
  border-radius: 1.5rem;
  background-color: #7EB3C8;
  

}

#connection:hover{

  background-color: #7E8EC8;
  cursor: pointer;
}

#registration:hover{

  background-color: #7E8EC8;
  cursor: pointer;
}

h1 {
    font-size: 2.5rem;
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;

}
.left {
    display: flex;
    justify-content: center;
    align-items: center;

}

.left:hover {
  cursor: pointer;
}

.left img {
   max-width: 100%;
   max-height: 100%;
   padding-right: 2rem;
}

.right span {
  margin-left: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .website_header {
      flex-direction: column;
      padding: 1rem;
  }

  .website_header .left, .website_header .right {
      width: 100%;
      justify-content: center;
      text-align: center;
      margin-bottom: 2rem;
  }

  .website_header .left img {
      max-width: 10%;
  }

  .website_header h1 {
      font-size: 2rem;
  }
}