@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    background-color: #7ec5c8;
    background: url(../pictures/passport\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    justify-content: space-between;
    height: 75px;
    border: #7E8EC8 solid 3px;
    
}

h1 {
    font-size: 3rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;

}


.left img {
   max-width: 100%;
   max-height: 100%;
}


.right span{
    margin-left: 1rem;
    margin-right: 1rem;
  
}

#connexion {
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: #7EB3C8;
}

#inscription {
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: #7EB3C8;
    

}

#connexion:hover{

    background-color: #7E8EC8;
    cursor: pointer;
}

#inscription:hover{

    background-color: #7E8EC8;
    cursor: pointer;
    

}

.home_container {
    
    margin-top: 1rem;
}


.home_slideshow {
    position: relative;
    max-width: 70%;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Animation fade */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from { opacity: 0.8; }
    to { opacity: 1; }
}


.introduction {

    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    text-align: center;
}
