@import url('https://fonts.googleapis.com/css2?family=Sedan+SC&display=swap');

:root {
    font-family: "Sedan SC", serif;
    font-weight: 400;
    font-style: normal;
    background: url(../pictures/passport\ 1.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}

header {
    display: flex;
    justify-content: space-between;
    height: 50px;
    border: #7E8EC8 solid 3px;
    padding: 1rem;
    padding-left: 4rem;
    padding-right: 4rem;
    
}

h1 {
    font-size: 2.5rem;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;

}

.right {
    display: flex;
    justify-content: center;
    align-items: center;

}
.left {
    display: flex;
    justify-content: center;
    align-items: center;

}

.left img {
   max-width: 100%;
   max-height: 100%;
   padding-right: 2rem;
}


.right span{
    margin-left: 1rem;
    margin-right: 1rem;
  
}

#connexion {
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: #7EB3C8;
}

#inscription {
    border: 2px solid black;
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: #7EB3C8;
    

}

#connexion:hover{

    background-color: #7E8EC8;
    cursor: pointer;
}

#inscription:hover{

    background-color: #7E8EC8;
    cursor: pointer;
}

.home_container {
    
    margin-top: 1rem;
}


.home_slideshow {
    position: relative;
    max-width: 60%;
    margin: auto;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

/* Animation fade */
.fade {
    animation-name: fade;
    animation-duration: 3s;
}

@keyframes fade {
    from { opacity: 0.8; }
    to { opacity: 1; }
}


.introduction {

    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    font-size: 2rem;
    text-align: center;
}

.modal_connection {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
}

.overlay_modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
}

.modal_content_connection {
    position: absolute;
    max-width: 500px;
    min-width: 300px;
    padding: 30px;
    background: #fff;
    border-radius: 5px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal_content_connection h2{
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.modal_content_connection form {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal_content_connection form label{
    margin-bottom: 0.5rem;
}

.modal_content_connection form input{
    margin-bottom: 0.5rem;
}

.modal_connection_close {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: white;
}