.return-anchor {
  display: flex;
  padding-left: 1rem;
  padding-top: 2rem;
}

.return {
  font-size: 0.8rem;
  color: black;
  text-decoration: none;
  padding-right: 1rem;
}

.trip-page_menu {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}

.trip-page_header {
  justify-content: space-evenly;
  padding: 1rem 10rem;
  display: flex;
  border: black solid 0.15rem;
  border-radius: 1rem;
  margin: 1.5rem;
  justify-content: center;
  align-items: center;
}
#menu_choice {
  border-radius: 1rem;
  border: black solid 0.1rem;
  text-align: center;
  font-size: 1rem;
  background-color: transparent;
  cursor: pointer;
  margin-right: 2rem;
  font-family: "Poppins";
}
.main_title {
  font-size: 2rem;
  text-align: center;
  border: black solid 0.1rem;
  padding: 0.4rem 8rem;
  border-radius: 1rem;
}
.trip-page_classement {
  display: flex;
  flex-direction: column;
  padding-top: 0.5rem;
}
option {
  box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2);
  background-color: #ecebea;
  text-align: center;
  font-family: "Poppins";
}

#classement_choice {
  border-radius: 1rem;
  border: black solid 0.1rem;
  text-align: center;
  font-size: 1rem;
  padding: 0rem 1rem;
  background-color: transparent;
  cursor: pointer;
  font-family: "Poppins";
  margin-left: 2rem;
}

.visit-add {
  display: flex;
  justify-content: center;
  align-items: center;
}

#add-new-visit {
  font-size: 1.2rem;
  background-color: transparent;
  border: black solid 0.1rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.visit-container {
  
  display: flex;
  flex-direction: column;
}

.visit-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-sizing: border-box;
  width: 70%;
  border: black solid 0.15rem;
  border-radius: 1rem;
  margin: 1.5rem 1rem;
  padding: 1rem;
}

.city-details {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  border: black solid 0.1rem;
  border-radius: 1rem;
  width: 20%;
}

.city-details-header {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 0.5rem;
}

.edit-delete-button {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  text-align: right;
  padding: 0rem;
}

.edit-visit_button {
  border: none;
  background: transparent;
}

.edit-visit_button:hover {
  cursor: pointer;
}

.fa-pen {
  font-size: 1rem;
}

.delete-visit_button {
  border: none;
  background: transparent;
}

.delete-visit_button:hover {
  cursor: pointer;
}

.fa-trash {
  font-size: 1rem;
}

.city {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 0.8rem
}

.location-visit_button {
  border: none;
  background: transparent;
}

.location-visit_button:hover {
  cursor: pointer;
}

.fa-location-dot {
  font-size: 1.1rem;
}

.visit-photo {
  position: relative;
  max-width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
  width: 30vw;
  display: flex;
}

.photo-container {
  position: relative;
}

.photo {
  display: none;
  height: 60%;
  width: 60%;
  margin: 1rem;
}

.photo:nth-child(-n + 2) {
  display: block;
}

.prev,
.next {
display: flex;
align-items: center;
cursor: pointer;
width: auto;
color: black;
font-weight: bold;
font-size: 1.5rem;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.visit-map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: sticky;
  left: 80rem;
}
.carte {
  justify-content: right;
  text-align: right;
}
h3 {
  text-align: center;
  font-size: 1.5rem;
  font-family: "Popins";
}
.fa-user {
  font-size: 1.2rem;
  padding-left: 1rem;
  cursor: pointer;
}
.fa-star {
  font-size: 1.5rem;
}

.modal_new-visit {
  display: none;
}

.modal_new-visit.active {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.overlay_modal_trigger {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #333333d3;
}

.modal_content_new-visit {
  position: absolute;
  max-width: 100vw;
  min-width: 100vh;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_content_new-visit h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.modal_content_new-visit form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal_content_new-visit form label {
  margin-bottom: 0.5rem;
}

.modal_content_new-visit form input {
  margin-bottom: 0.5rem;
}

.modal_new-visit-close {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #ff365e;
  color: white;
}
#modal_update-visit {
  display: none;
}

.modal_update-visit.active {
  display: block;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
}

.modal_content_update-visit {
  position: absolute;
  max-width: 100vw;
  min-width: 100vh;
  padding: 2rem;
  background: #fff;
  border-radius: 1rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.modal_content_update-visit h2 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}

.modal_content_update-visit form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.modal_content_update-visit form label {
  margin-bottom: 0.5rem;
}

.modal_content_update-visit form input {
  margin-bottom: 0.5rem;
}

.modal_update-visit-close {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background-color: #ff365e;
  color: white;
}

.photo {
  flex: 1;
  border: black solid 0.15rem;
width: 33%; /* Show up to three photos */
  display: none;
}
.visit-photos_container {
  border: black solid 0.15rem;
  width: 90%;
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  padding-left: 5%;
  overflow: hidden; /* Hide overflow content */
}

.visit-photo {
  flex: 0 0 33.33%; /* Each photo takes up one-third of the container */
  box-sizing: border-box;
  padding: 1px; /* Optional: Add some spacing around photos */
}
/* 
.visit-photos_container .photo {
  display: none;
}
.visit-photos_container .photo.active {
  display: block;
} */

.slide-photos_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
}

