.right:hover {
    cursor: pointer;
  }
  
  .return-anchor {
    display: flex;
    padding-left: 1rem;
  }
  
  .return {
    font-size: 0.8rem;
    color: black;
    text-decoration: none;
    font-weight: bold;
    padding-right: 1rem;
  }
  
  .trip-details {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    margin: 0.5rem;
  }
  
  .trip-page_menu {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  
  .trip-page_header {
    justify-content: space-evenly;
    display: flex;
    border: #8b9ca6 solid 0.2rem;
    border-radius: 1rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: calc(100% - 8rem);
    margin-top: 1rem;
    padding: 1rem 0rem;
    background-color: rgba(255, 255, 255, 0.8);
  }
  
  #menu_choice {
    border-radius: 1rem;
    border: black solid 0.1rem;
    text-align: center;
    font-size: 1rem;
    background-color: transparent;
    cursor: pointer;
    margin-right: 2rem;
    font-family: "Poppins";
  }
  .main_title {
    font-size: 2rem;
    text-align: center;
    border: black solid 0.1rem;
    padding: 0.4rem 8rem;
    border-radius: 1rem;
  }
  .trip-page_classement {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem;
  }
  option {
    box-shadow: 0rem 0.8rem 1rem 0rem rgba(0, 0, 0, 0.2);
    background-color: #ecebea;
    text-align: center;
    font-family: "Poppins";
  }
  
  #classement_choice {
    border-radius: 1rem;
    border: black solid 0.1rem;
    text-align: center;
    font-size: 1rem;
    padding: 0rem 1rem;
    background-color: transparent;
    cursor: pointer;
    font-family: "Poppins";
    margin-left: 2rem;
  }
  
  .visit-add {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 9rem;
  }
  
  #add-new-visit {
    font-size: 1.2rem;
    background-color: transparent;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  
  .visit-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .visit-details {
    display: flex;
    flex-direction: row;
    align-items: center;
    box-sizing: border-box;
    width: 80%;
    border: black solid 0.15rem;
    border-radius: 1rem;
    margin: 1.5rem 1rem;
    margin-bottom: 4rem;
    padding: 1rem;
    justify-content: center;
    background-color: rgba(0255, 255, 255, 0.8);
  }
  
  .city-details {
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    border: black solid 0.1rem;
    border-radius: 1rem;
    width: 25rem;
    height: 40vh;
  }
  
  .city-details-header {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0.5rem;
  }
  
  .edit-delete-button {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    text-align: right;
    padding: 0rem;
  }
  
  .edit-visit_button {
    border: none;
    background: transparent;
  }
  
  .edit-visit_button:hover {
    cursor: pointer;
  }
  
  .fa-pen {
    font-size: 1rem;
    
  }
  
  .delete-visit_button {
    border: none;
    background: transparent;
  }
  
  .delete-visit_button:hover {
    cursor: pointer;
  }
  
  .fa-trash {
    font-size: 1rem;
  }
  
  .city {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding-top: 0.8rem
  }
  
  h3 {
    text-align: center;
    font-size: 1.5rem;
    padding: 0.5rem 0.5rem;
  }
  
  .location-visit_button {
    border: none;
    background: transparent;
  }
  
  .location-visit_button:hover {
    cursor: pointer;
  }
  
  .fa-location-dot {
    font-size: 1.1rem;
  }
  
  .place {
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-weight: bold;
  }
  
  .dateStart  {
    font-size: 0.8rem;
  }
  
  .dateEnd {
    font-size: 0.8rem;
  }
  
  .comment {
    font-size: 0.8rem;
    font-style: italic;
  }
  
  .note {
    padding: 1rem 0.5rem;
    text-align: center;
    font-size: 0.9rem;
  }
  
  .visit-photo {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
  
  .photos-container {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%
  }
  
  .visit-photos_container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 100%;
  }
  
  .photo {
    height: 100%;
    width: 100%;
    margin: 1rem;
    border-radius: 1rem;
  }
  
  .photo:nth-child(-n + 2) {
    display: flex;
  }
  
  .prev,
  .next {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: auto;
    color: black;
    font-weight: bold;
    font-size: 1.5rem;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .visit-photos_button {
    display: flex;
    flex-direction: row;
  }
  
  #add-photos_button{
    font-size: 1rem;
    background-color: transparent;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0rem 1rem;
  }
  
  #delete-photos_button{
    font-size: 1rem;
    background-color: transparent;
    border: black solid 0.1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    margin: 0rem 1rem;
  }
  
  .visit-map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    left: 80rem;
  }
  .carte {
    justify-content: right;
    text-align: right;
  }
  
  .fa-user {
    font-size: 1.2rem;
    padding-left: 1rem;
    cursor: pointer;
  }
  
  .modal_new-visit {
    display: none;
  }
  
  .modal_new-visit.active {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  
  .overlay_modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
  }
  
  .modal_content_new-visit {
    position: absolute;
    max-width: 100vw;
    min-width: 100vh;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal_content_new-visit h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .modal_content_new-visit form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .modal_content_new-visit form label {
    margin-bottom: 0.5rem;
  }
  
  .modal_content_new-visit form input {
    margin-bottom: 0.5rem;
  }
  
  .modal_new-visit-close {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: white;
  }
  #modal_update-visit {
    display: none;
  }
  
  .modal_update-visit.active {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  
  .modal_content_update-visit {
    position: absolute;
    max-width: 100vw;
    min-width: 100vh;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal_content_update-visit h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .modal_content_update-visit form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .modal_content_update-visit form label {
    margin-bottom: 0.5rem;
  }
  
  .modal_content_update-visit form input {
    margin-bottom: 0.5rem;
  }
  
  .modal_update-visit-close {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: white;
  }
  
  #modal_add-photos {
    display: none;
  }
  
  #modal_add-photos.active {
    display: block;
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }
  
  .overlay_modal_trigger {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #333333d3;
  }
  
  .modal_content_add-photos {
    position: absolute;
    max-width: 100vw;
    min-width: 100vh;
    padding: 2rem;
    background: #fff;
    border-radius: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .modal_content_add-photos h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-size: 1.5rem;
  }
  
  .modal_content_add-photos form {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  
  .modal_content_add-photos form label {
    margin-bottom: 0.5rem;
  }
  
  .modal_content_add-photos form input {
    margin-bottom: 0.5rem;
  }
  
  .modal_add-photos-close {
    padding: 8px 10px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background-color: #ff365e;
    color: white;
  }
  footer.website_footer{
    position:fixed;
  } 
      .slide-photos_container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80%;
      }
      
      @media screen and (width <= 768px) {
        .trip-details {
          width: 100vw;
          height: 100vw;
        } 
        
        .trip-page_header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: stretch;
          gap: 0.5rem;
          border: none;
          size: auto;
          position: absolute;
        }
       
        .trip-page_header{
          margin:1rem;
        }
        .trip-page_header :nth-child(1) {
          order: 2;
        }
        .trip-page_header :nth-child(3) {
          order: 3;
        }
        
        .trip-page_menu {
          padding-top: 0.5rem;
        }
        
        .trip-page_classement {
          padding-top: 0.5rem;
        }
        
        #menu_choice {
          margin-right: 0rem;
        }
        
        .main_title {
          font-size: 1.5rem;
          text-align: center;
          justify-content: center;
          padding: 0.4rem 8rem;
        }
        
        #classement_choice {
          margin-left: 0rem;
          padding: 0rem 2rem;
        }
  
        .visit-add {
          padding-top: 12rem;
        }
        
        .visit-details{
          width: 70%;
          display: flex;
          flex-direction: column;
          padding: 0.5rem;
        }
        
        h3{
          font-size: 1.2rem;
        }
        
        .city-details {
          width: fit-content;
          height: fit-content;
          display: flex;
          flex-direction: column;
        }
        
        .visit-photos_container {
          width: 100%;
          height: 100%;
        }
        
        .photo {
          width: 100%;
          height: 100%
        }
        
        .modal_new-visit {
          display: none;
        }
        
        .modal_content_new-visit {
          position: absolute;
          max-width: fit-content;
          min-width: fit-content;
          padding: 2rem;
          background: #fff;
          border-radius: 1rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        .overlay_modal_trigger {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #333333d3;
        }
        
        #modal_add-photos {
          display: none;
        }
        
        .modal_content_add-photos {
          position: absolute;
          max-width: fit-content;
          min-width: fit-content;
          padding: 2rem;
          background: #fff;
          border-radius: 1rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
      
      @media screen and (max-width: 500px) {
        .visit-details {
         margin-bottom: 5rem;
        }
      #add-new-visit{
        margin-right: 5rem;
      }

        .trip-page_header {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          border: none;
          size: auto;
        }
        
        .trip-page_header :nth-child(1) {
          order: 2;
        }
        .trip-page_header :nth-child(3) {
          order: 3;
        }
         header.trip-page_header{
          margin-top:3rem;
        } 
        .trip-page_menu {
          padding-top: 0.5rem;
        }
        #menu_choice {
          margin-right: 0rem;
        }
        
         .trip-page_title {
          padding: 0rem;
          align-items: center;
          justify-content: center;
          width: fit-content;
        }
        .main_title {
          font-size: 1.5rem;
          text-align: center;
          justify-content: center;
          padding: 0rem 5rem;
        }
        
        .trip-page_classement {
          padding-top: 0.5rem;
        }
        
         #classement_choice {
          margin-left: 0rem;
          padding: 0rem 2rem;
        } 
  
        .visit-add {
          padding-top: 12rem;
        } 
     
          .visit-details{
          width: 80%;
          display: flex;
          flex-direction: column;
          padding: 0.5rem;
          margin-right: 5.5rem;;
        } 
        
         h3{
          font-size: 1rem;
        } 
         
        .city-details {
          width: fit-content;
          display: flex;
          flex-direction: column;
          height: fit-content;
        }
        
        .visit-photos_container {
          width: 100%;
          height: 100%;
        } 
        
        .photo {
          width: 100%;
          height: 100%
        }
  
        #add-photos_button{
          font-size: 0.8rem;
        }
  
        #delete-photos_button{
          font-size: 0.8rem;
        }
        
        .modal_new-visit {
          display: none;
        }
        
        .modal_content_new-visit {
          position: absolute;
          max-width: fit-content;
          min-width: fit-content;
          padding: 2rem;
          background: #fff;
          border-radius: 1rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        
        .overlay_modal_trigger {
          position: absolute;
          width: 100%;
          height: 100%;
          background: #333333d3;
        }
        
        #modal_add-photos {
          display: none;
        }
        
        .modal_content_add-photos {
          position: absolute;
          max-width: fit-content;
          min-width: fit-content;
          padding: 2rem;
          background: #fff;
          border-radius: 1rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        .footer{
          margin:4rem;
        }
      }